.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

build/
**/build/
**/.firebase/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

**/pubspec_overrides.yaml

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db
*.log

node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

coverage/
**/coverage/

android/.gradle/
android/local.properties
**/ios/Pods/
**/macos/Pods/
**/linux/flutter/ephemeral/
**/macos/Flutter/ephemeral/
**/windows/flutter/ephemeral/

.vscode/
